{% extends "base/base.html" %}
{% load static %}
{% block title %}Условия использования{% endblock title %}
{% block header %}Условия использования{% endblock header %}

{% block enabling_css %}
    <link rel="stylesheet" type="text/css" href="{% static "main/terms-of-service/style.css" %}" />
{% endblock enabling_css %}

{% block content %}
    <p></p>
    <ul class="list4a">
        <li>Ваш доступ к сервису и его использование означает Ваше согласие быть ограниченным действием этих Условий.</li>
        <li>Наш сервис работает так, как Вы его сейчас видите и как он для Вас доступен.</li>
        <li>Мы предоставляем пользователю ограниченную, неисключительную, отзывную и без права сублицензирования лицензию на доступ и использование нашего сервиса на устройствах пользователей, а также на использование любого контента на нашем сервисе в некоммерческих целях.</li>
    </ul>
{% endblock content %}